<section class="training-services-section">
    <%- include('../partials/minor-header'); %>
                            <p>Lorem ipsum dolor sit amet consectetur </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="main-content padding-small">
    <div class="container">
        <div class="flat-services training-services">
            <div class="row">
                <div class="col-md-12">
                    <div class="title-section style2 ">
                        <h3 class="title">What We Can Offer You</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi quaerat neque eaque quidem ipsa, vero omnis. Quia iure, sint tempore accusamus temporibus dignissimos, ex modi, alias consequuntur eius aliquam aliquid? incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
            </div>

            <div class="row flat-services-control">
                    <div class="col-md-3">
                        <div class="sidebar-services">
                            <div class="list-services">
                                <ul class="services">
                                    <li>
                                        <a href="#">Overview</a>
                                    </li>
                                    <li>
                                        <a href="#">Onsite Training</a>
                                    </li>
                                    <li>
                                        <a href="#">Online Training</a>
                                    </li>
                                    <li>
                                        <a href="#">Aveva E3D</a>
                                    </li>
                                    <li>
                                        <a href="#">AACE Courses</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-9">
                        <div class="content-services">
                            <div class="thumb">
                                <img src="images/training/01.jpg" alt="image">
                            </div>
                            <div class="post v1">
                                <h4 class="title">Research Based Sales Training</h4>
                                <p>At Cosine we've earned a reputation for providing sales people with the insights they need to dominate in today's hyper-competitive selling climate.</p>
                                <p>Jerax Service is a research based sales training, sales coaching and sales consulting firm that is the leader in the integration of proven science and sales. Based in New York, United States, we study the scientific disciplines of social psycholo-gy, communication theory, cognitive psychology, social neuroscience, cognitive neuroscience and behavioral eco-nomics. We then take the repeatable and predictable principles, which science has proven to create and enable influence, out of the laboratory and academic journals and apply them to selling.</p>
                            </div>

                            <div class="post v2">
                                <div class="list-post">
                                    <h5 class="title">There are many variations of passages available</h5>
                                    <p>Dolore fugiat labore, beef in pork belly venison spare ribs pork sed. Landjaeger lorem swine, laborum nisi excepteur short loin. Hamburger nulla pastrami exer citation nostrud ut aute do turkey.</p>
                                </div>
                                <div class="list-post v1">
                                    <h5 class="title">Determine the right inventory level: </h5>
                                    <p>With hundreds of medications in the market, Pharm Ltd. needed a proper method to predict and manage their inventory. Using a mean absolute percentage analysis, the teams appropriate.</p>
                                </div>
                            </div>

                            <div class="post v3">
                                <h4 class="title">Why Choose Us</h4>
                                <p>We help the world's leading companies drive predictable revenue and profitability growth by optimizing sales organization performance.</p>
                                <div class="box">
                                    <div class="list">
                                        <p><span>Training option 1</span> – Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta ullam similique enim distinctio quo expedita eos itaque praesentium minima reiciendis dolor exercitationem earum possimus esse voluptates voluptate placeat, odit blanditiis?</p>
                                        <p><span>Training option  2</span> – Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi optio laudantium aspernatur iure fugiat ullam sequi, sed exercitationem quis rerum quibusdam officiis, ea tenetur, quisquam labore esse repellendus fuga soluta.</p>
                                        <p><span>Training option  3</span> – Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi optio laudantium aspernatur iure fugiat ullam sequi, sed exercitationem quis rerum quibusdam officiis, ea tenetur, quisquam labore esse repellendus fuga soluta.</p>
                                        <p><span>Training option 4</span> – Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati nihil ab exercitationem. Labore, autem debitis. Dolores asperiores, amet ex sit minima dicta nemo beatae eum, tempore deleniti quisquam quos ducimus.</p>
                                        <p><span>Training option 5</span> – Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic eos, quisquam iste, atque facilis, illo dignissimos eum sunt eaque ad sequi doloribus. Amet provident, deleniti officia molestiae voluptate delectus harum.</p>
                                        <p><span>Training option 6</span> – Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum, id, voluptas sit asperiores voluptates magnam alias, corrupti nemo architecto cumque nihil itaque officiis commodi! Tempora odit doloribus rerum natus sint?</p>
                                        <p><span>Training option 7</span> – Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis quos nulla quas blanditiis libero vel tempora doloribus odio laudantium vitae magnam in illum dolor, nostrum animi accusantium exercitationem sapiente soluta.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="post v4 pb-25">
                                <div class="box">
                                    <h4 class="title">Business plan market</h4>
                                    <p class="title-top">Our clients tell us we are unique for a variety of <br> important reasons including:</p>
                                    <div class="list">
                                        <p><span>Training option 1</span> – Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta ullam similique enim distinctio quo expedita eos itaque praesentium minima reiciendis dolor exercitationem earum possimus esse voluptates voluptate placeat, odit blanditiis?</p>
                                        <p><span>Training option  2</span> – Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi optio laudantium aspernatur iure fugiat ullam sequi, sed exercitationem quis rerum quibusdam officiis, ea tenetur, quisquam labore esse repellendus fuga soluta.</p>
                                        <p><span>Training option  3</span> – Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi optio laudantium aspernatur iure fugiat ullam sequi, sed exercitationem quis rerum quibusdam officiis, ea tenetur, quisquam labore esse repellendus fuga soluta.</p>
                                        <p><span>Training option 4</span> – Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati nihil ab exercitationem. Labore, autem debitis. Dolores asperiores, amet ex sit minima dicta nemo beatae eum, tempore deleniti quisquam quos ducimus.</p>
                                        <p><span>Training option 5</span> – Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic eos, quisquam iste, atque facilis, illo dignissimos eum sunt eaque ad sequi doloribus. Amet provident, deleniti officia molestiae voluptate delectus harum.</p>
                                        <p><span>Training option 6</span> – Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum, id, voluptas sit asperiores voluptates magnam alias, corrupti nemo architecto cumque nihil itaque officiis commodi! Tempora odit doloribus rerum natus sint?</p>
                                        <p><span>Training option 7</span> – Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis quos nulla quas blanditiis libero vel tempora doloribus odio laudantium vitae magnam in illum dolor, nostrum animi accusantium exercitationem sapiente soluta.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</section>
    <%- include('../partials/cta'); %>