<section>
    <%- include('../partials/minor-header'); %>
                            <p>Lorem ipsum dolor sit amet consectetur </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="main-content padding-small">
    <div class="container">
        <div class="flat-services">
            <div class="row">
                <div class="col-md-12">
                    <div class="title-section style2">
                        <h3 class="title">What We Can Offer You</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor <br>incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="flat-services-control">
                    <div class="col-md-3">
                        <div class="sidebar-services">
                            <div class="list-services">
                                <ul class="services">
                                    <li>
                                        <a href="#">Onsite Training</a>
                                    </li>
                                    <li>
                                        <a href="#">Online Training</a>
                                    </li>
                                    <li>
                                        <a href="#">Aveva E3D</a>
                                    </li>
                                    <li>
                                        <a href="#">AACE Courses</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-9">
                        <div class="content-services">
                            <div class="thumb">
                                <img src="images/training/01.jpg" alt="image">
                            </div>
                            <div class="post v1">
                                <h4 class="title">Research Based Sales Training</h4>
                                <p>At Cosine we've earned a reputation for providing sales people with the insights they need to dominate in today's hyper-competitive selling climate.</p>
                                <p>Jerax Service is a research based sales training, sales coaching and sales consulting firm that is the leader in the integration of proven science and sales. Based in New York, United States, we study the scientific disciplines of social psycholo-gy, communication theory, cognitive psychology, social neuroscience, cognitive neuroscience and behavioral eco-nomics. We then take the repeatable and predictable principles, which science has proven to create and enable influence, out of the laboratory and academic journals and apply them to selling.</p>
                            </div>

                            <div class="post v2">
                                <div class="list-post">
                                    <h5 class="title">There are many variations of passages available</h5>
                                    <p>Dolore fugiat labore, beef in pork belly venison spare ribs pork sed. Landjaeger lorem swine, laborum nisi excepteur short loin. Hamburger nulla pastrami exer citation nostrud ut aute do turkey.</p>
                                </div>
                                <div class="list-post v1">
                                    <h5 class="title">Determine the right inventory level: </h5>
                                    <p>With hundreds of medications in the market, Pharm Ltd. needed a proper method to predict and manage their inventory. Using a mean absolute percentage analysis, the teams appropriate.</p>
                                </div>
                            </div>

                            <div class="post v3">
                                <h4 class="title">Why Choose Us</h4>
                                <p>We help the world's leading companies drive predictable revenue and profitability growth by optimizing sales organization performance.</p>
                                <div class="box">
                                    <div class="item">
                                        <div class="content">
                                            <div class="top-box">
                                                <i class="fa fa-sign-language"></i>
                                            </div>
                                            <div class="number-box">
                                                <p>65<span class="v1">%</span></p>
                                                <ul>
                                                    <li>Jerax Service has worked with</li>
                                                    <li>65% of the</li>
                                                    <li>Fortune 500</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="item">
                                        <div class="content">
                                            <div class="top-box">
                                                <i class="fa fa-users"></i>
                                            </div>
                                            <div class="number-box">
                                                <p>1000<span>+</span></p>
                                                <ul>
                                                    <li>Trained over 1,000</li>
                                                    <li>sales professionals</li>
                                                    <li>worldwide</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="item">
                                        <div class="content">
                                            <div class="top-box">
                                                <i class="fa fa-globe"></i>
                                            </div>
                                            <div class="number-box">
                                                <p>25<span>countries</span></p>
                                                <ul>
                                                    <li>Delivered programs in</li>
                                                    <li>over 25 countries</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="item">
                                        <div class="content">
                                            <div class="top-box">
                                                <i class="fa fa-trophy"></i>
                                            </div>
                                            <div class="number-box">
                                                <p>10<span>year</span></p>
                                                <ul>
                                                    <li>10 straight years as a</li>
                                                    <li>top sales training</li>
                                                    <li>company</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="post v4">
                                <div class="box">
                                    <h4 class="title">Business plan market</h4>
                                    <p class="title-top">Our clients tell us we are unique for a variety of <br> important reasons including:</p>
                                    <div class="list">
                                        <p><span>Don James/Semplice</span> – Article and News Research</p>
                                        <p><span>VoltageBusiness</span> – Company and Industry Research</p>
                                        <p><span>Goovers</span> – Company and Industry Research</p>
                                        <p><span>IRISpace</span> – Article and News Research</p>
                                        <p><span>Lexos-Nexos</span> – Company, Industry, Market Research</p>
                                        <p><span>Plombett</span> – Article and News Research</p>
                                        <p><span>Pronounce</span> – Market Analysis report "Slices"</p>
                                    </div>
                                </div>
                                <div class="box v1">
                                    <div class="flat-video-fancybox">
                                        <img src="images/video/1.jpg" alt="image">
                                        <a class="fancybox" data-type="iframe" href="https://www.youtube.com/embed/2Ge1GGitzLw?autoplay=1">
                                            <div class="overlay-inner">
                                                <i class="fa fa-play"></i>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.container -->
</section>