<section class="page_container recept_section">
    <div class="transaction_receipt_container success">
        <h3 class="title text-center">Successful</h3>

        <div class="successful-transaction-no-token d-none">
            Please wait while we generate your token.<br/>
            Donot reload or close this page in 1:23 secs

        </div>

        <div class="successful-transaction">
            <h4 class="meter-details-title">Details</h4>
            <div class="meter_details">
                <hr>
                <div class="flex-container">
                    <div class="label-container">Name: </div><div class="text-container">Bright Onwukwe</div>
                </div>
                <div class="flex-container">
                    <div class="label-container">address: </div><div class="text-container">22 Micheal Garden</div>
                </div>
                <div class="flex-container">
                    <div class="label-container">email: </div><div class="text-container">onwukweb@gmail.com</div>
                </div>
                <div class="flex-container">
                    <div class="label-container">Disco: </div><div class="text-container">PHED</div>
                </div>
                <div class="flex-container">
                    <div class="label-container">Account Type: </div><div class="text-container">Prepaid</div>
                </div>
                <div class="flex-container">
                    <div class="label-container">Meter No: </div><div class="text-container">090884393842</div>
                </div>
                <div class="flex-container">
                    <div class="label-container">Amount: </div><div class="text-container">5000</div>
                </div>

                <!-- Show this if payment is used to service arrears -->
                <div class="flex-container">
                    <div class="label-container">Arrears Energy Value : </div><div class="text-container">3000</div>
                </div>
                <!-- Show this if payment is used to service arrears -->
                <div class="flex-container">
                    <div class="label-container">Total <small>(+ vat)</small>: </div><div class="text-container">5000</div>
                </div>
                <hr>
                <div class="flex-container">
                    <div class="label-container">Reward Token </div><div class="text-container">34H3JJJ4323D</div>
                </div>
                <div class="flex-container">
                    <div class="label-container token-text">Token </div><div class="text-container token-text">34H3JJJ4323D</div>
                </div>
                <div class="flex-container">
                    <div class="label-container">Units </div><div class="text-container">60</div>
                </div>
                <div class="flex-container">
                    <div class="label-container">Tarrif </div><div class="text-container">Stub Tarrif</div>
                </div>
                <hr>
            </div>
        </div>

        <div class="failed-transaction d-none" >
            <h2>Failed Electricity Purchase Screen</h2>
        </div>

        <div class="failed-payment d-none">
            <h2>Failed Payment From The Payment Processor Screen</h2>
        </div>
    </div>
</section>