<section class="about-us-banner">
       <div class="swiper-container overflow-hidden w-100 position-relative">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="text container">
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <div class="text-center banner-contents text-lg-start">
                                <h1 class="text-white display-5 ">Lorem Lorem Lorem</h1>
                                <p class="text-white fs-4">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo, accusamus earum, ipsam cum odit nam fuga quisquam eligendi quibusdam officia incidunt at, magni maxime! Dolorem eum quia ipsam provident fugiat.</p>
                                <a href="#!" class="btn theme-btn color-btn">Take Our Training</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<section class="py-5 py-lg-6">
    <div class="container about-us-container">
       <div class="row d-flex align-items-center about-us-info">
          <div class="col-md-12">
             <h2 class="mb-4 fw-bold">About our Jerax Consulting</h2>
             <p class="about-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Non iure suscipit illum aspernatur est ea reprehenderit dicta labore omnis quis molestias, accusantium quas saepe provident cupiditate assumenda ducimus fugiat neque.
             Quod maiores pariatur doloremque obcaecati dicta eos at? Quo nihil amet asperiores culpa reiciendis beatae ipsam, facilis delectus blanditiis rerum, voluptatum natus commodi nam assumenda quibusdam quos aspernatur eaque minima!</p>
             <p class="about-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio alias iste, <span>laudantium porro alias optio eius quis</span>, officia aliquam et distinctio unde, quos libero reiciendis obcaecati sed placeat laborum doloremque maxime?</p>
             <p class="about-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur repudiandae consequuntur enim, expedita incidunt autem nobis, ex facilis doloremque voluptates! Quis deserunt optio magnam.
             Eaque, totam esse, illo aliquam tempore sequi voluptates cupiditate facere ex sint dolore repellat temporibus veniam quia alias perferendis! Et enim esse distinctio quasi, magnam eos quibusdam iusto delectus nulla?</p>

          </div>
       </div>
       <div class="statement_containter">
        <div class="row py-5">
            <div class="col-md-6 mission_cointainer">
               <h2 class="mb-3 fw-bold">Our Mision</h2>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id accusamus quidem iste, repudiandae maiores nesciunt quas magni nobis quos suscipit quasi tempora quo? Quaerat fugit sapiente pariatur porro optio similique.
               Repellendus earum at suscipit quas ex id officiis beatae enim sapiente. Dolores doloremque, modi, quam sequi ut quaerat atque expedita recusandae earum fugit voluptatibus saepe. Consequuntur doloribus sapiente dicta alias?
               Qui magnam nam, optio quis ipsum tempore quaerat velit eligendi sequi quisquam, placeat natus doloribus animi! Quibusdam, omnis facilis dignissimos repudiandae, perspiciatis alias neque libero ipsam cupiditate harum beatae blanditiis.</p>
            </div>
            <div class="col-md-6 vission_cointainer">
               <h2 class="mb-3 fw-bold">Our vission</h2>
               <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia dolorum laudantium temporibus laborum aperiam maiores, sapiente odio ducimus, placeat soluta saepe, repellendus illum tenetur. Doloremque ab incidunt aspernatur tempora est!
               Officia nulla ullam, laborum quam sapiente inventore excepturi eligendi vero doloremque cum autem culpa nobis sit! Possimus ex tempora repellat, dolor ut fuga blanditiis, minima porro, aut maiores aliquid! Possimus?
               Itaque, sunt laborum. Consequuntur modi veritatis beatae. Sunt nostrum odio laboriosam totam doloremque ut dolores error cumque esse tempora vitae, ab suscipit, eligendi minus hic ea asperiores natus veritatis optio.</p>
            </div>
         </div>
       </div>
    </div>
</section>
<section class="py-lg-6 py-5 bg-dark why-us-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2 why-us-header">
                <div class="text-center mb-5">
                    <h2 class="text-white mb-1">Why Choose us</h2> <small></small>
                    <p class="text-white mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti rem aperiam eos sequi mollitia accusantium quo sint, temporibus hic error eveniet autem voluptatibus minus ducimus sit et modi expedita omnis.</p>
                </div>
            </div>
        </div>
        <div class="row g-4 ">
            <div class="col-md-4">
                <div class="card border-0 shadow-sm">
                    <div class="card-body">
                        <h3 class="fw-bold">Reliability</h3>
                        <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit.  modi nesciunt expedita accusamus est porro eius aliquam blanditiis. Ad fugit molestiae rem placeat aliquid.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card border-0 shadow-sm">
                    <div class="card-body">
                        <h3 class="fw-bold">Efficiency</h3>
                        <p class="mb-0">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates, vitae neque. Sed facere distinctio et commodi nihil odio, ipsum magni veniam vitae? Ab, sapiente sequi. Velit reprehenderit odit neque nostrum!</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card border-0 shadow-sm">
                    <div class="card-body">
                        <h3 class="fw-bold">Excellence</h3>
                        <p class="mb-0">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius deserunt, ea odit dignissimos natus earum mollitia et sunt quisquam officiis numquam soluta corporis, amet velit libero nobis quaerat. Aliquam, eaque.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card border-0 shadow-sm">
                    <div class="card-body">
                        <h3 class="fw-bold">Experience</h3>
                        <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. voluptatum laboriosam illum voluptatibus possimus ipsa veniam cumque sit ipsum asperiores nemo? Aspernatur, excepturi optio?</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card border-0 shadow-sm">
                    <div class="card-body">
                        <h3 class="fw-bold">Quality</h3>
                        <p class="mb-0">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel eligendi in quae obcaecati, voluptas alias veniam perspiciatis est non aspernatur omnis similique nobis. Iste itaque eligendi illo magni quis? Rem.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card border-0 shadow-sm">
                    <div class="card-body">
                        <h3 class="fw-bold">Experts Consultant</h3>
                        <p class="mb-0">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio nulla ex laborum quos blanditiis culpa dolores minima amet nobis tempora quis qui perferendis dignissimos, iure numquam delectus iste deserunt praesentium.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<section class="py-lg-6 py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ">
                <div class="text-center mb-2">
                    <h2 class="fw-bold">Meet Our CEO</h2>
                </div>
            </div>
        </div>
        <div class="row align-items-center">

            <div class="col-md-4 ">
                <div>
                    <img src="/images/our_ceo.png" alt="ceo jerax service" class="img-fluid">
                </div>
            </div>
            <div class="col-md-8 ">
                <div>
                    <div class="mb-4">
                        <p class="lead fst-italic mb-0">“Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione recusandae atque enim perferendis eligendi quia nemo eius similique eum et quaerat earum voluptatibus consequatur natus sequi dicta, rem ipsa sed.”</p><br>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem quo ab dignissimos sint eveniet accusantium a? Commodi distinctio doloremque soluta obcaecati maiores, eos, maxime, necessitatibus ut numquam veniam labore velit?</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut incidunt debitis numquam, tempore non aperiam quidem cum quia officiis inventore assumenda atque maiores aliquid distinctio? Beatae, temporibus quasi. Distinctio, eaque?
                        Voluptates, quos? Voluptatibus excepturi hic optio, reiciendis veritatis itaque officia similique dignissimos dolor maiores sed et laboriosam tenetur. Consequatur soluta neque architecto. Pariatur odio provident, esse et ut distinctio officiis.
                        Hic possimus deleniti quaerat magnam nemo aspernatur nulla, fuga, debitis et numquam rem, voluptatibus quia quos. Dolores non, itaque blanditiis vitae debitis rem eius sed asperiores deleniti aut, sapiente sint.</p>
                    </div>
                </div>
            </div>

        </div>

    </div>

</section>
<div class="page-title parallax parallax1 no-padding">
    <div class="overlay"></div>
    <div class="container">
        <div class="flat-talk">
            <div class="row">
                <div class="col-md-12">
                    <div class="title-section style1">
                        <p>To help entrepreneurs get their act together</p>
                        <p><span>before they talk </span> to investors.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="py-lg-6 py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="text-center mb-5">
                    <h2 class="mb-1 fw-bold">Our Services</h2>
                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est voluptate, neque autem architecto aut quasi tempore eligendi, repellendus ut praesentium, deserunt porro quam id. Quaerat minus obcaecati tempore quae soluta.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="row g-4 mb-4">

                    <div class="col-md-12">
                        <div class="card border-0">
                            <div class="card-body d-flex justify-content-start">
                                <div>
                                   <span class="number-icon"><i class="fa-solid fa-1"></i></span>
                                </div>
                                <div class="ms-4">
                                    <h4>Jerax Service One</h4>
                                    <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic quis labore quisquam? Earum nostrum voluptas ipsa, est id placeat quaerat nulla a iure vero, ullam accusamus quod recusandae laudantium odio!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card border-0">
                            <div class="card-body d-flex justify-content-start">
                                <div>
                                   <span class="number-icon"><i class="fa-solid fa-2"></i></span>
                                </div>
                                <div class="ms-4">
                                    <h4>Jerax Service Two</h4>
                                    <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic quis labore quisquam? Earum nostrum voluptas ipsa, est id placeat quaerat nulla a iure vero, ullam accusamus quod recusandae laudantium odio!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card border-0">
                            <div class="card-body d-flex justify-content-start">
                                <div>
                                   <span class="number-icon"><i class="fa-solid fa-3"></i></span>
                                </div>
                                <div class="ms-4">
                                    <h4>Jerax Service Three</h4>
                                    <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic quis labore quisquam? Earum nostrum voluptas ipsa, est id placeat quaerat nulla a iure vero, ullam accusamus quod recusandae laudantium odio!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card border-0">
                            <div class="card-body d-flex justify-content-start">
                                <div>
                                   <span class="number-icon"><i class="fa-solid fa-4"></i></span>
                                </div>
                                <div class="ms-4">
                                    <h4>Jerax Service Four</h4>
                                    <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic quis labore quisquam? Earum nostrum voluptas ipsa, est id placeat quaerat nulla a iure vero, ullam accusamus quod recusandae laudantium odio!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row g-4 ">
                    <div class="col-md-12">
                        <div class="card border-0">
                            <div class="card-body d-flex justify-content-start">
                                <div>
                                   <span class="number-icon"><i class="fa-solid fa-5"></i></span>
                                </div>
                                <div class="ms-4">
                                    <h4>Jerax Service Five</h4>
                                    <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic quis labore quisquam? Earum nostrum voluptas ipsa, est id placeat quaerat nulla a iure vero, ullam accusamus quod recusandae laudantium odio!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card border-0">
                            <div class="card-body d-flex justify-content-start">
                                <div>
                                   <span class="number-icon"><i class="fa-solid fa-6"></i></span>
                                </div>
                                <div class="ms-4">
                                    <h4>Jerax Service Six</h4>
                                    <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic quis labore quisquam? Earum nostrum voluptas ipsa, est id placeat quaerat nulla a iure vero, ullam accusamus quod recusandae laudantium odio!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card border-0">
                            <div class="card-body d-flex justify-content-start">
                                <div>
                                   <span class="number-icon"><i class="fa-solid fa-7"></i></span>
                                </div>
                                <div class="ms-4">
                                    <h4>Jerax Service Seven</h4>
                                    <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic quis labore quisquam? Earum nostrum voluptas ipsa, est id placeat quaerat nulla a iure vero, ullam accusamus quod recusandae laudantium odio!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card border-0">
                            <div class="card-body d-flex justify-content-start">
                                <div>
                                   <span class="number-icon"><i class="fa-solid fa-8"></i></span>
                                </div>
                                <div class="ms-4">
                                    <h4>Jerax Service Eight</h4>
                                    <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic quis labore quisquam? Earum nostrum voluptas ipsa, est id placeat quaerat nulla a iure vero, ullam accusamus quod recusandae laudantium odio!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include('./partials/cta'); %>