<section>
    <%- include('./partials/minor-header'); %>
                            <p>To help entrepreneurs get their act together</p>
                            <p><span>before they talk </span> to investors.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="contact-section py-5 py-lg-6">
    <div class="container">
        <div class="row clearfix">
            <div class="column col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <h2>Contact Information</h2>
                    <div class="contact-info">
                        <ul>
                            <li><i class="fa-solid fa-location-dot icon"></i>Plot 5 woji Estate, Lorem ipsum dolor sit amet.</li>
                            <li><i class="fa-regular fa-envelope icon"></i> info@jeraxconsultant.com</li>
                            <li><i class="fa-solid fa-square-phone icon"></i>+234 80 2345 6789</li>
                            <li><i class="fa-regular fa-clock icon"></i> Mon - Sat: 9:00am - 5:00pm</li>
                        </ul>
                    </div> <br>
                    <h3>Other Locations</h3>
                    <div class="contact-info">
                        <ul>
                            <li><i class="fa-solid fa-location-dot icon"></i>Lorem ipsum dolor sit amet cons.</li>
                            <li><i class="fa-regular fa-envelope icon"></i> otherlocation@jeraxconsultant.com</li>
                            <li><i class="fa-solid fa-square-phone icon"></i>+234 80 2345 6784</li>
                            <li><i class="fa-regular fa-clock icon"></i> Mon - Sat: 9:00am - 5:00pm</li>
                        </ul>
                    </div>
                    <ul class="social-links clearfix d-flex align-contents-center gap-1">
                        <li><a href="#"><i class="fa-brands fa-square-facebook"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-square-twitter"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-square-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="column col-md-6 col-sm-6 col-xs-12">
                <h2>Get in Touch</h2>
                <div class="contact-form default-form">
                    <form method="post" action="#" id="contact-form">

                        <div class="form-group">
                            <input type="text" name="username" value="" placeholder="Name *">
                        </div>

                        <div class="form-group">
                            <input type="email" name="email" value="" placeholder="Email *">
                        </div>

                        <div class="form-group">
                            <input type="text" name="subject" value="" placeholder="Subject *">
                        </div>

                        <div class="form-group">
                            <textarea name="message" placeholder="Message *"></textarea>
                        </div>

                        <button type="submit" class="theme-btn color-btn">Send <span class="fa fa-long-arrow-right"></span></button>

                    </form>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="map-section py-5 py-lg-6">
    <div class="map-outer">
        <!--Map Canvas-->
        <div id="map_api"></div>
    </div>
</section>