<script>
    var all_discos = [];
    var all_discos_reindexed = {};
    <% if(typeof discos === "object") { %>
        all_discos = <%- JSON.stringify(discos) %>;
    <% } %>

    if(typeof all_discos === "object" && Array.isArray(all_discos) && all_discos.length > 0) {
        all_discos_reindexed = reindex(all_discos, 'code');
    }
</script>

<section class="page_container purchase_power_form_section">
    <div class="inner_page_container">
        <div class="form_container">
            <form action="/electricity/validate-meter" method="post" id="purchase_power_form" data-show_error_label="yes" data-show_alert_2="yes" data-waitme="yes">
                <input type="hidden" name="customer_number" value="">
                <input type="hidden" name="customer_name" value="">
                
                <div class="mb-3 form-group">
                    <label for="disco" class="form-label">Disco</label>
                    <select name="disco" class="form-select">
                        <option value="">Choose Disco</option>
                        <% if (typeof discos !== "undefined" && Array.isArray(discos)) { %>
                           <% for( let index = 0; index < discos.length; index++ ) { %>
                             <% if (typeof discos[index] === "object" && typeof discos[index].code === "string" && typeof discos[index].title === "string") { %>
                                <option value="<%= discos[index].code %>"><%= discos[index].title %></option>
                              <% } %>
                           <% } %>
                        <% } %>
                    </select>
                </div>
                <div class="mb-3 form-group account_type_wrapper" style="display: none;">
                    <label for="account_type" class="form-label w-100">Account Type</label>
                    <div class="account_type_field_option_container">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="account_type" id="account_type_prepaid" value="prepaid">
                            <label class="form-check-label" for="account_type_prepaid">Prepaid</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="account_type" id="account_type_postpaid" value="postpaid">
                            <label class="form-check-label" for="account_type_postpaid">Postpaid</label>
                        </div>
                    </div>
                </div>
                <div class="mb-3 form-group">
                    <label for="customer_email" class="form-label">Email Address</label>
                    <input type="email" class="form-control" name="customer_email" value=""/>
                </div>
                <div class="mb-3 form-group">
                    <label for="customer_phone_number" class="form-label">Phone Number</label>
                    <input type="tel" class="form-control" name="customer_phone_number" value=""/>
                </div>
                <div class="mb-3 form-group">
                    <label for="meter_number" class="form-label">Meter Number</label>
                    <input type="text" class="form-control" name="meter_number" value=""/>
                </div>
                <div class="mb-4 form-group">
                    <label for="amount" class="form-label">Amount</label>
                    <input type="number" class="form-control" name="amount" value=""/>
                </div>

                <div class="form-group" style="text-align: right;">
                    <button type="button" class="btn btn-primary btn-md" id="btn_validate_meter" >Submit</button>
                </div>
            </form>
        </div>
    </div>
</section>

<section class="transaction_ref_section" style="display: none;">
    <div class="ref_container">
        <h3 class="title">Transaction Ref</h3>
        <div class="sub-text">You will use the transaction reference to do the following: </div>
        <ul class="action-list">
            <li>Initiate a support ticket for this transaction in the case of failed transaction</li>
            <li>Regenerate electricity token if need be</li>
        </ul>

        <div class="text-left" style="padding-bottom: 5px;">Take note of the transaction reference below:</div>
        <h4 class="trans-ref">REF: <span id="transaction_ref_con"></span></h4>


        <h4 class="meter-details-title">Details</h4>
        <div class="meter_details">
            <hr>
            <div class="flex-container">
                <div class="label-container">Name: </div><div class="text-container">Bright Onwukwe</div>
            </div>
            <div class="flex-container">
                <div class="label-container">address: </div><div class="text-container">22 Micheal Garden</div>
            </div>
            <div class="flex-container">
                <div class="label-container">email: </div><div class="text-container">onwukweb@gmail.com</div>
            </div>
            <div class="flex-container">
                <div class="label-container">Disco: </div><div class="text-container">PHED</div>
            </div>
            <div class="flex-container">
                <div class="label-container">Account Type: </div><div class="text-container">Prepaid</div>
            </div>
            <div class="flex-container">
                <div class="label-container">Meter No: </div><div class="text-container">090884393842</div>
            </div>

            <div class="flex-container">
                <div class="label-container">Arears: </div><div class="text-container">0</div>
            </div>
            <hr>
            <div class="flex-container">
                <div class="label-container">Amount: </div><div class="text-container">5000</div>
            </div>
            <div class="flex-container">
                <div class="label-container">Customer Phone: </div><div class="text-container">090884393842</div>
            </div>
            <div class="flex-container">
                <div class="label-container">Customer Email: </div><div class="text-container">email@gmail.com</div>
            </div>
            <hr>
        </div>


        <div class="button-container">
            <button type="button" class="btn btn-primary btn-lg btn-transaction-continue" >Continue</button>
        </div>
        
    </div>
</section>


<script src ="/js/power.js?v=<%= TEMPLATE_VERSION %>"></script>