<section class="page_container">
    <div class="site-main-slider slider-version-1">
        <div id="sequence">
            <ul class="seq-canvas">
                <li class="sequence-slide">
                    <div class="sequence-bg slider-bg-image-1" style="background-image: url(images/slider/slider-bg-image-1.jpg)"></div>
                    <div class="sequence-caption">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="sequence-caption-container">
                                        <h2>Welcome to Jerax <span class="sequence-span">S</span>ervices</h2>
                                    <h1>We help you to<br> Grow your business</h1>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6 col-md-6">
                                            <p>
                                                Lorem Ipsum is simply dummy text of the printing and typesetting indus orem Ipsum has been the industry's standard dummy.
                                            </p>
                                        </div>
                                    </div>
                                    <a href="#" class="theme-btn color-btn">Contact us</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="sequence-slide">
                    <div class="sequence-bg slider-bg-image-2" style="background-image: url(images/slider/slider-bg-image-2.jpg)"></div>
                    <div class="sequence-caption">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="sequence-caption-container">
                                    <h2>We Jerax </h2>
                                    <h1>Every business <br> start with small idea.</h1>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6 col-md-6">
                                            <p>
                                                Lorem Ipsum is simply dummy text of the printing and typesetting indus orem Ipsum has been the industry's standard dummy.
                                            </p>
                                        </div>
                                    </div>
                                    <a href="#" class="theme-btn color-btn">Contact us</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </li>
                <li class="sequence-slide">
                    <div class="sequence-bg" style="background-image: url(images/slider/slider-bg-image-3.jpg)"></div>
                    <div class="sequence-caption">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xs-12">
                                        <div class="sequence-caption-container">
                                                <h2>We are Jerax</h2>
                                                <h1>we build your business</h1>
                                                <div class="row">
                                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                                        <p>
                                                            Lorem Ipsum is simply dummy text of the printing and typesetting indus orem Ipsum has been the industry's standard dummy.
                                                        </p>
                                                    </div>
                                                </div>
                                                <a href="#" class="theme-btn color-btn">Contact us</a>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <ul class="seq-pagination">
            <li>Step 1</li>
            <li>Step 2</li>
            <li>Step 3</li>
        </ul>

        <button type="button" class="seq-prev"><span class="icon-slider-arrow-left"><i class="fa-solid fa-chevron-left"></i></span></button>
        <button type="button" class="seq-next"><span class="icon-slider-arrow-right"><i class="fa-solid fa-chevron-right"></i></span></button>

    </div>
</section>

 <!-- feature section start -->
<section >
     <div id="Features" class="site-features site-white-section">
        <div class="container-fluid">
            <div class="upper-section">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="clearfix"></div>
                        <div class="site-features-container">
                            <div class="row">
                                <div class="col-xs-12 col-sm-4 no-padding">
                                    <div class="site-box">
                                        <figure>
                                            <img src="images/feature-1.png" alt="image">
                                        </figure>
                                        <h3>Creative Ideas</h3>
                                        <p>
                                            Lorem Ipsum is simply dummy of thetin gand typeseing industry Lorem Ipsum been industry standard.
                                        </p>
                                        <a class="site-permalink theme-btn" href="#">
                                                <span>MORE</span>
                                                <i class="icon-service-arrow"></i>
                                        </a>
                                        <div class="nomber">01
                                        </div>

                                    </div>

                                </div>
                                <div class="col-xs-12 col-sm-4 no-padding">
                                    <div class="site-box">
                                        <figure>
                                            <img src="images/feature-2.png" alt="image">
                                        </figure>
                                        <h3>Budget friendly</h3>
                                        <p>
                                            Lorem Ipsum is simply dummy of thetin gand typeseing industry Lorem Ipsum been industry standard.
                                        </p>
                                        <a class="site-permalink theme-btn" href="#">
                                    <span>MORE</span>
                                    <i class="icon-service-arrow"></i>
                                </a>
                                        <div class="nomber">02
                                        </div>

                                    </div>

                                </div>
                                <div class="col-xs-12 col-sm-4 no-padding">
                                    <div class="site-box no-border">
                                        <figure>
                                            <img src="images/feature-3.png" alt="image">
                                        </figure>
                                        <h3>24/7 Support</h3>
                                        <p>
                                            Lorem Ipsum is simply dummy of thetin gand typeseing industry Lorem Ipsum been industry standard.
                                        </p>
                                        <a class="site-permalink theme-btn" href="#">
                                            <span>MORE</span>
                                            <i class="icon-service-arrow"></i>
                                        </a>
                                        <div class="nomber">03
                                        </div>

                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
 <!-- feature section end -->

 <!-- service section start -->
 <section class="py-5 py-lg-6">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2 ">

                <div class="text-center mb-5">
                    <h2 class="mb-1 fw-bold">Growth Through Our Innovative Services!</h2>
                    <p class="mb-0">Fusce venenatis lectus non est congueitae malesuada neque lacinia.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">

                <ul class="nav nav-pills mb-3 nav-line-bottom " id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="pills-service1-tab" data-bs-toggle="pill" data-bs-target="#pills-service1" type="button" role="tab" aria-controls="pills-service1" aria-selected="true">
                            <span class="d-flex align-items-center">
                                Engineering Technology
                            </span>
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-service2-tab" data-bs-toggle="pill" data-bs-target="#pills-service2" type="button" role="tab" aria-controls="pills-service2" aria-selected="false">
                            <span class="d-flex align-items-center">
                                Talent Outsourcing
                            </span>
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-service3-tab" data-bs-toggle="pill" data-bs-target="#pills-service3" type="button" role="tab" aria-controls="pills-service3" aria-selected="false">
                            <span class="d-flex align-items-center">
                                Tax Consultation
                            </span>
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-service4-tab" data-bs-toggle="pill" data-bs-target="#pills-service4" type="button" role="tab" aria-controls="pills-service4" aria-selected="false">
                            <span class="d-flex align-items-center">
                                Business Consultation
                            </span>
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-service5-tab" data-bs-toggle="pill" data-bs-target="#pills-service5" type="button" role="tab" aria-controls="pills-service5" aria-selected="false">
                            <span class="d-flex align-items-center ">
                                Trainings
                            </span>
                        </button>
                    </li>

                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-service1" role="tabpanel" aria-labelledby="pills-service1-tab" tabindex="0">
                        <div class="row">
                            <div class="col-md-6 col-lg-3 col-xl-3">
                                <div class="mb-4 card-lift">
                                    <div>
                                        <a href="#!"><img src="/images/services/service-image-1.jpg" alt="service-image-1" class="img-fluid w-100 rounded-top"></a>
                                        <div class="p-4 border border-top-0 rounded-bottom">
                                            <div class="mb-3">
                                                <h3 class="mb-0">
                                                    <a href="#!" class="text-reset">Lorem Lorem</a>
                                                </h3>
                                            </div>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium commodi minima ex delectus dolores perspiciatis ea expedita facilis temporibus odit? Esse sequi animi, aperiam repellendus consectetur corrupti quae quod debitis.</p>
                                            <a href="#!" class="btn-link default-btn">Read More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3 col-xl-3">
                                <div class="mb-4 card-lift">
                                    <div>
                                        <a href="#!">
                                            <img src="/images/services/service-image-2.jpg" alt="service-image-2" class="img-fluid w-100 rounded-top">
                                        </a>
                                        <div class=" p-4 border border-top-0 rounded-bottom">
                                            <div class="mb-3">
                                                <h3 class="mb-0">
                                                    <a href="#!" class="text-reset">Business Lorem</a>
                                                </h3>
                                            </div>
                                            <p>Quam semper simple dummy eleifend lorem in imperdiet mauris estibulum et efficitur lorem ipsum.</p>
                                            <a href="#!" class="btn-link default-btn">Read More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3 col-xl-3">
                                <div class="mb-4 card-lift">
                                    <div>
                                        <a href="#!">
                                            <img src="/images/services/service-image-3.jpg" alt="service-image-3" class="img-fluid w-100 rounded-top">
                                        </a>
                                        <div class=" p-4 border border-top-0 rounded-bottom">
                                            <div class="mb-3">
                                                <h3 class="mb-0">
                                                    <a href="#!" class="text-reset">Lorem Lorem</a>
                                                </h3>
                                            </div>
                                            <p>Duis id quam semper, eleifend lorem in, imperdiet mauris simple estibulum imple et efficitur nunc.</p>
                                            <a href="#!" class="btn-link default-btn">Read More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3 col-xl-3">
                                <div class="mb-4 card-lift">
                                    <a href="#!">
                                        <img src="/images/services/service-image-4.jpg" alt="service-image-4" class="img-fluid w-100 rounded-top">
                                    </a>
                                    <div class=" p-4 border border-top-0 rounded-bottom">
                                        <div class="mb-3">
                                            <h3 class="mb-0">
                                                <a href="#!" class="text-reset">Lorem Lorem</a>
                                            </h3>
                                        </div>
                                        <p>Suspendisse lobortis eros ac blan mi aliquet justo sit amet aliquet nunc simple dummy content risus a felis</p>
                                        <a href="#!" class="btn-link default-btn">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-service2" role="tabpanel" aria-labelledby="pills-service2-tab" tabindex="0">
                        <div class="row">
                            <div class="col-md-6 col-lg-3 col-xl-3">
                                <div class="mb-4 card-lift">
                                    <div>
                                        <a href="#!">
                                            <img src="/images/services/service-image-2.jpg" alt="service-image-2" class="img-fluid w-100 rounded-top">
                                        </a>
                                        <div class=" p-4 border border-top-0 rounded-bottom">
                                            <div class="mb-3">
                                                <h3 class="mb-0">
                                                    <a href="#!" class="text-reset">Lorem Lorem Sorem</a>
                                                </h3>
                                            </div>
                                            <p>Quam semper simple dummy eleifend lorem in imperdiet mauris estibulum et efficitur lorem ipsum.</p>
                                            <a href="#!" class="btn-link default-btn">Read More</a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6 col-lg-3 col-xl-3">
                                <div class="mb-4 card-lift">
                                    <div>
                                        <a href="#!">
                                            <img src="/images/services/service-image-5.jpg" alt="service-image-5" class="img-fluid w-100 rounded-top">
                                        </a>
                                        <div class=" p-4 border border-top-0 rounded-bottom">
                                            <div class="mb-3">
                                                <h3 class="mb-0">
                                                    <a href="#!" class="text-reset">Lorem Lorem Lorem</a>
                                                </h3>
                                            </div>
                                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur, nemo officiis possimus doloremque ullam veritatis sint aspernatur reiciendis ea expedita fugiat asperiores velit sunt illo itaque cupiditate repellat. Nobis, iusto.</p>
                                            <a href="#!" class="btn-link default-btn">Read More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3 col-xl-3">
                                <div class="mb-4 card-lift">
                                    <div>
                                        <a href="#!">
                                            <img src="/images/services/service-image-1.jpg" alt="service-image-1"
                                                class="img-fluid w-100 rounded-top">
                                        </a>
                                        <div class=" p-4 border border-top-0 rounded-bottom">
                                            <div class="mb-3">
                                                <h3 class="mb-0">
                                                    <a href="#!" class="text-reset">Lorem Sorem Lorem Sorem</a>
                                                </h3>
                                            </div>
                                            <p>Quam semper simple dummy eleifend lorem in imperdiet mauris estibulum et efficitur lorem ipsum.</p>
                                            <a href="#!" class="btn-link default-btn">Read More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3 col-xl-3">
                                <div class="mb-4 card-lift">
                                    <a href="#!">
                                        <img src="/images/services/service-image-4.jpg" alt="service-image-4"
                                            class="img-fluid w-100 rounded-top">
                                    </a>
                                    <div class=" p-4 border border-top-0 rounded-bottom">
                                        <div class="mb-3">
                                            <h3 class="mb-0">
                                                <a href="#!" class="text-reset">LoremLorem SoremSprem </a>
                                            </h3>
                                        </div>
                                        <p>Duis id quam semper, eleifend lorem in, imperdiet mauris simple estibulum imple et efficitur nunc.</p>
                                        <a href="#!" class="btn-link default-btn">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-service3" role="tabpanel" aria-labelledby="pills-service3-tab" tabindex="0">
                        <div class="row">
                            <div class="col-md-6 col-lg-3 col-xl-3">
                                <div class="mb-4 card-lift">
                                    <a href="#!">
                                        <img src="/images/services/service-image-1.jpg" alt="service-image-1"
                                            class="img-fluid w-100 rounded-top">
                                    </a>
                                    <div class=" p-4 border border-top-0 rounded-bottom">
                                        <div class="mb-3">
                                            <h3 class="mb-0">
                                                <a href="#!" class="text-reset">LoremLorem SoremSprem </a>
                                            </h3>
                                        </div>
                                        <p>Duis id quam semper, eleifend lorem in, imperdiet mauris simple estibulum imple et efficitur nunc.</p>
                                        <a href="#!" class="btn-link default-btn">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3 col-xl-3">
                                <div class="mb-4 card-lift">
                                    <a href="#!">
                                        <img src="/images/services/service-image-2.jpg" alt="service-image-2"
                                            class="img-fluid w-100 rounded-top">
                                    </a>
                                    <div class=" p-4 border border-top-0 rounded-bottom">
                                        <div class="mb-3">
                                            <h3 class="mb-0">
                                                <a href="#!" class="text-reset">LoremLorem SoremSprem </a>
                                            </h3>
                                        </div>
                                        <p>Duis id quam semper, eleifend lorem in, imperdiet mauris simple estibulum imple et efficitur nunc.</p>
                                        <a href="#!" class="btn-link default-btn">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3 col-xl-3">
                                <div class="mb-4 card-lift">
                                    <a href="#!">
                                        <img src="/images/services/service-image-3.jpg" alt="service-image-3"
                                            class="img-fluid w-100 rounded-top">
                                    </a>
                                    <div class=" p-4 border border-top-0 rounded-bottom">
                                        <div class="mb-3">
                                            <h3 class="mb-0">
                                                <a href="#!" class="text-reset">LoremLorem SoremSprem </a>
                                            </h3>
                                        </div>
                                        <p>Duis id quam semper, eleifend lorem in, imperdiet mauris simple estibulum imple et efficitur nunc.</p>
                                        <a href="#!" class="btn-link default-btn">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3 col-xl-3">
                                <div class="mb-4 card-lift">
                                    <a href="#!">
                                        <img src="/images/services/service-image-4.jpg" alt="service-image-4"
                                            class="img-fluid w-100 rounded-top">
                                    </a>
                                    <div class=" p-4 border border-top-0 rounded-bottom">
                                        <div class="mb-3">
                                            <h3 class="mb-0">
                                                <a href="#!" class="text-reset">LoremLorem SoremSprem </a>
                                            </h3>
                                        </div>
                                        <p>Duis id quam semper, eleifend lorem in, imperdiet mauris simple estibulum imple et efficitur nunc.</p>
                                        <a href="#!" class="btn-link default-btn">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-service4" role="tabpanel" aria-labelledby="pills-service4-tab" tabindex="0">
                        <div class="row">
                            <div class="col-md-6 col-lg-3 col-xl-3">
                                <div class="mb-4 card-lift">
                                    <a href="#!">
                                        <img src="/images/services/service-image-4.jpg" alt="service-image-4"
                                            class="img-fluid w-100 rounded-top">
                                    </a>
                                    <div class=" p-4 border border-top-0 rounded-bottom">
                                        <div class="mb-3">
                                            <h3 class="mb-0">
                                                <a href="#!" class="text-reset">LoremLorem SoremSprem </a>
                                            </h3>
                                        </div>
                                        <p>Duis id quam semper, eleifend lorem in, imperdiet mauris simple estibulum imple et efficitur nunc.</p>
                                        <a href="#!" class="btn-link default-btn">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3 col-xl-3">
                                <div class="mb-4 card-lift">
                                    <a href="#!">
                                        <img src="/images/services/service-image-3.jpg" alt="service-image-3"
                                            class="img-fluid w-100 rounded-top">
                                    </a>
                                    <div class=" p-4 border border-top-0 rounded-bottom">
                                        <div class="mb-3">
                                            <h3 class="mb-0">
                                                <a href="#!" class="text-reset">LoremLorem SoremSprem </a>
                                            </h3>
                                        </div>
                                        <p>Duis id quam semper, eleifend lorem in, imperdiet mauris simple estibulum imple et efficitur nunc.</p>
                                        <a href="#!" class="btn-link default-btn">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3 col-xl-3">
                                <div class="mb-4 card-lift">
                                    <a href="#!">
                                        <img src="/images/services/service-image-2.jpg" alt="service-image-2"
                                            class="img-fluid w-100 rounded-top">
                                    </a>
                                    <div class=" p-4 border border-top-0 rounded-bottom">
                                        <div class="mb-3">
                                            <h3 class="mb-0">
                                                <a href="#!" class="text-reset">LoremLorem SoremSprem </a>
                                            </h3>
                                        </div>
                                        <p>Duis id quam semper, eleifend lorem in, imperdiet mauris simple estibulum imple et efficitur nunc.</p>
                                        <a href="#!" class="btn-link default-btn">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3 col-xl-3">
                                <div class="mb-4 card-lift">
                                    <a href="#!">
                                        <img src="/images/services/service-image-1.jpg" alt="service-image-1"
                                            class="img-fluid w-100 rounded-top">
                                    </a>
                                    <div class=" p-4 border border-top-0 rounded-bottom">
                                        <div class="mb-3">
                                            <h3 class="mb-0">
                                                <a href="#!" class="text-reset">LoremLorem SoremSprem </a>
                                            </h3>
                                        </div>
                                        <p>Duis id quam semper, eleifend lorem in, imperdiet mauris simple estibulum imple et efficitur nunc.</p>
                                        <a href="#!" class="btn-link default-btn">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-service5" role="tabpanel" aria-labelledby="pills-service4-tab" tabindex="0">
                        <div class="row">
                            <div class="col-md-6 col-lg-3 col-xl-3">
                                <div class="mb-4 card-lift">
                                    <a href="#!">
                                        <img src="/images/services/service-image-5.jpg" alt="service-image-5"
                                            class="img-fluid w-100 rounded-top">
                                    </a>
                                    <div class=" p-4 border border-top-0 rounded-bottom">
                                        <div class="mb-3">
                                            <h3 class="mb-0">
                                                <a href="#!" class="text-reset">LoremLorem SoremSprem </a>
                                            </h3>
                                        </div>
                                        <p>Duis id quam semper, eleifend lorem in, imperdiet mauris simple estibulum imple et efficitur nunc.</p>
                                        <a href="#!" class="btn-link default-btn">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3 col-xl-3">
                                <div class="mb-4 card-lift">
                                    <div>
                                        <a href="#!">
                                            <img src="/images/services/service-image-3.jpg" alt="service-image-3" class="img-fluid w-100 rounded-top">
                                        </a>
                                        <div class=" p-4 border border-top-0 rounded-bottom">
                                            <div class="mb-3">
                                                <h3 class="mb-0">
                                                    <a href="#!" class="text-reset">Lorem Lorem Lorem</a>
                                                </h3>
                                            </div>
                                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur, nemo officiis possimus doloremque ullam veritatis sint aspernatur reiciendis ea expedita fugiat asperiores velit sunt illo itaque cupiditate repellat. Nobis, iusto.</p>
                                            <a href="#!" class="btn-link default-btn">Read More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3 col-xl-3">
                                <div class="mb-4 card-lift">
                                    <div>
                                        <a href="#!">
                                            <img src="/images/services/service-image-1.jpg" alt="service-image-1" class="img-fluid w-100 rounded-top">
                                        </a>
                                        <div class=" p-4 border border-top-0 rounded-bottom">
                                            <div class="mb-3">
                                                <h3 class="mb-0">
                                                    <a href="#!" class="text-reset">Lorem Lorem Lorem</a>
                                                </h3>
                                            </div>
                                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur, nemo officiis possimus doloremque ullam veritatis sint aspernatur reiciendis ea expedita fugiat asperiores velit sunt illo itaque cupiditate repellat. Nobis, iusto.</p>
                                            <a href="#!" class="btn-link default-btn">Read More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3 col-xl-3">
                                <div class="mb-4 card-lift">
                                    <div>
                                        <a href="#!">
                                            <img src="/images/services/service-image-4.jpg" alt="service-image-4" class="img-fluid w-100 rounded-top">
                                        </a>
                                        <div class=" p-4 border border-top-0 rounded-bottom">
                                            <div class="mb-3">
                                                <h3 class="mb-0">
                                                    <a href="#!" class="text-reset">Lorem Lorem Lorem</a>
                                                </h3>
                                            </div>
                                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur, nemo officiis possimus doloremque ullam veritatis sint aspernatur reiciendis ea expedita fugiat asperiores velit sunt illo itaque cupiditate repellat. Nobis, iusto.</p>
                                            <a href="#!" class="btn-link default-btn">Read More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- service section close -->

<section class="py-5 py-lg-6 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3 col-xl-3 ">
                <div class="text-center mb-5 mb-lg-0">
                    <div class="my-4 lh-sm">
                        <h3 class="h2 fw-bold mb-0">33+</h3>
                        <p class="mb-0">Years of Experience</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 col-xl-3 ">
                <div class="text-center mb-5 mb-lg-0">
                    <div class="my-4 lh-sm">
                        <h3 class="h2 fw-bold mb-0">100+</h3>
                        <p class="mb-0">Software Licenses Sold</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 col-xl-3 ">
                <div class="text-center mb-5 mb-lg-0">
                    <div class="my-4 lh-sm">
                        <h3 class="h2 fw-bold mb-0">300k+</h3>
                        <p class="mb-0">HCDI Participants</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 col-xl-3 ">
                <div class="text-center mb-5 mb-lg-0">
                    <div class="my-4 lh-sm">
                        <h3 class="h2 fw-bold mb-0">98%</h3>
                        <p class="mb-0">Clients Satisfaction rate</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-5 bg-dark">
    <div class="container">
        <div class="row d-flex align-items-center ">
            <div class="col-md-7">
                <div class="text-white">
                    <h2 class="text-white mb-1">Free online assessment</h2>
                    <p class="mb-0">Fusce venenatis lectus non est congue vitae malesuada neque lacinia. </p>
                </div>
            </div>
            <div class="col-md-5 d-flex justify-content-md-end mt-4 mt-lg-0">
                <a href="#!" class="btn theme-btn color-btn btn-lg">Get Free Assessment</a>
            </div>
        </div>
    </div>
</section>

<%- include('./partials/training'); %>
<%- include('./partials/footer'); %>