@import url("font-fo.css");
@import url("monster-icon.css");
@import url("owl.carousel.css");
@import url("jquery.fancybox.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

*,*:before, *:after  {box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;text-decoration: none;list-style: none; padding: 0px; margin: 0px; }

:root{
   --heading-color: #232323;
   --red: #db2a2a;
   --green: #3e8635;
   --dark-color: #1b1a1a;
   --white-color: #ffffff;
   --primary-color: #18ba60;
   --second-color: rgba(93, 93, 93, .75);
   --shadow-color-rgb: 93, 93, 93;

    /* background colors */
   --bg-1: #3a526a;
   --bg-2: rgb(43, 42, 84);
   --bg-3: rgb(69, 67, 208);
   --bg-4: rgb(252, 238, 204);
   --bg-light: rgb(245, 245, 245;);
   



    /* Fonts stylying */
    --font-family-inter: "Inter", sans-serif;
    --font-family-red-display: "Red Hat Display", sans-serif;


}

html { height:100%; }
body { font-family: "Inter", sans-serif; font-style: normal; font-size: 18px; line-height: 24px; color: #6D7280;}


.form-control,
.form-control:focus {outline: none; box-shadow: none;}

.error_label {font-size: 14px; color: #D50A0A; }

input[type="text"].errors,
input[type="password"].errors,
input[type="email"].errors,
input[type="number"].errors,
select.errors,
textarea.errors {border: 1px solid #ea2727 !important;}

input[type="text"].errors::placeholder,
input[type="password"].errors::placeholder,
input[type="email"].errors::placeholder,
input[type="number"].errors::placeholder,
select.errors::placeholder,
textarea.errors::placeholder {color: #D50A0A !important;}


button {border: none;}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    background-image: none;
    height: 42px;
    background-color: var(--primary-color);
    line-height: 42px;
    padding: 17px 27px;
    cursor: pointer;
    white-space: nowrap;
    border: none;
    display: inline-block;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
    /* border: 1px solid #dfdfdf;
    background-color: #fff;
    height: 42px;
    padding: 6px 12px;
    font-size: 13px;
    line-height: 25px;
    color: var(--bg-1);
    max-width: 100%;
    margin-bottom: 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    width: 100%;border-radius: 3px;
    border: 2px solid var(--bg-1); */
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus {
    /* border-color: var(--primary-color);
    background: #fff;
    color: var(--bg-1);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; */
}

textarea {width: 100%;height: 180px;padding: 6px 12px;}
input[type="checkbox"] {display: inline;}
textarea:-moz-placeholder,
textarea::-moz-placeholder,
input:-moz-placeholder,
input::-moz-placeholder {font-size: 12px;line-height: 19px;color: #b1b1b1;opacity: 1;}
input:-ms-input-placeholder {font-size: 12px;line-height: 19px;color: #b1b1b1;}
textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder {font-size: 12px;line-height: 19px;color: #b1b1b1;opacity: 1;}

label{font-size: 16px;line-height: 24px;color: #111827;font-family: var(--font-family-inter);}

a {color: var(--bg-1);text-decoration: none;-webkit-transition: all 0.3s ease-in-out;-moz-transition: all 0.3s ease-in-out;-ms-transition: all 0.3s ease-in-out;-o-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out;}

a:hover,
a:focus {color: var(--primary-color);text-decoration: none;outline: 0;-webkit-transition: all 0.3s ease-in-out;-moz-transition: all 0.3s ease-in-out;-ms-transition: all 0.3s ease-in-out;-o-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out;}

ul,ol {padding: 0;}
.no-padding {padding-left: 0 !important;padding-right: 0 !important;}
.lh-sm {line-height: 1.25 !important;}
.fw-bold {font-weight: 700 !important;}
.border-0 {border: 0 !important;}
.py-5 {padding-bottom: 48px !important;padding-top: 48px !important;}
.pb-25{padding-bottom: 25px}
.shadow-sm {box-shadow: 2px  4px rgba(var(--shadow-color-rgb), .075) !important;}

.bg-1a{background-image: linear-gradient(to right, rgba(255, 248, 244, 1), rgba(255, 222, 198, 1));}
.bg-1b{background-image: linear-gradient(to right, rgba(238, 242, 255, 1), rgba(236, 232, 255, 1));}
.bg-1c{background-image: linear-gradient(to right, rgba(239, 246, 255, 1), rgba(191, 219, 254, 1))}
.bg-light {background-color: rgb(245, 245, 245);}

.mt-50{margin-top: 50px;}


/*-------- Buttons designs ------ */
.btn-primary{height: auto; background-color: #1D4ED8;box-shadow: 0 1px 1px rgba(43, 40, 174, 1);border-radius: 8px;color: #FFFFFF;font-size: 16px;line-height: 24px;}
.btn-with-icon::after {content: "\f178";font-family: "Font Awesome 6 Free";font-weight: 900;padding-left: 0.5em;display: inline-block;}

.w-134{width: 134px;}
.h-22{height: 22px;}

.rounded-pill.active{background-color: rgba(29, 78, 216, 1); color: #FFF;font-family: var(--font-family-inter);font-size: 16px;font-weight: 500;line-height: 24px;}
.rounded-pill.inactive{background-color: rgba(213, 231, 255, 1); color: #111827;font-family: var(--font-family-inter);font-size: 16px;font-weight: 500;line-height: 24px;}
.rounded-pill.active, .rounded-pill.inactive{padding: 8px;min-width: 135px;text-align: center;box-shadow: 2px  4px rgba(var(--shadow-color-rgb), .075); cursor: pointer;}
.rounded-pill.inactive:hover{background-color: rgba(29, 78, 216, 1);color: #FFF;}
.rounded-pill.active:hover{background-color: rgba(213, 231, 255, 1);color: #111827;}

.navbar-toggler, .navbar-toggler:focus {border: none;border-radius: 0;}
/* .navbar-toggler .navbar-toggler-icon {background-image:} */
#navbar_content {justify-content: space-evenly;}

.column-gap-20  {column-gap: 20px;}
.column-gap-10{column-gap: 10px;}
.float-inline-end{float: inline-end;}

.section_wrapper{margin: 40px 0px;}

.header-container{background-image: url("/images/hero-img.png");min-height: 380px;background-position: center;background-repeat: no-repeat;background-size: cover;position: relative;}
.header-container .navbar-nav {column-gap: 10px;}
.header-container .navbar-nav .nav-item .nav-link{color: #BFDBFE; font-family: var(--font-family-inter); font-weight: 400;font-size: 16px;line-height: 24px;text-transform: capitalize;text-decoration: none;cursor: pointer;}
.header-container .navbar-nav .nav-item .nav-link.active, .header-container .navbar-nav .nav-item:hover .nav-link{color: #FFFFFF;font-weight: 600;}

.header-container .carousel-inner .carousel-item img{width: 100%; border-radius: 12px;object-fit: cover;height: auto;}
.header-content-container .header-super-content{text-align: center;width: 100%; max-width: 892px;margin: 0 auto;}
.header-content-container .header-super-content h2{font-family: var(--font-family-red-display);font-size: 56px;line-height: 60px;font-weight: 700;color: #FFF;}
.header-content-container .header-super-content .sub-header{color: #FFF;font-weight: 400;font-family: var(--font-family-inter);font-size: 18px;line-height: 26px;text-align: center;padding-top: 20px;width: 569px;display: block;margin: 0 auto;}

/* .upper-header-section .header-nav-container{column-gap: 20px;} */
.upper-header-section .header-nav-container .carousel{width: 392px;}
.upper-header-section .header-nav-container .carousel-indicators {background-color: #111827;width: 100%;max-width: 120px;margin: auto;border-radius: 32px;bottom: 50px;}
.upper-header-section .header-nav-container .carousel-indicators button {width: 20px;}
.carousel-item-next, .carousel-item-prev, .carousel-item.active {display: flex;}

.upper-header-section .header-nav-container .tabs-area-container{width: 100%; height: auto;}
.upper-header-section .header-nav-container .tabs-area-container .nav-pills{border-radius: 10px;background-color: #FFF;width: 100%;height: 44px;padding: 0px 15px;justify-content: space-between;/*flex-wrap: nowrap;*/}
.upper-header-section .header-nav-container .tabs-area-container .nav-pills .nav-link{text-decoration: none;color: #6D7280;font-size: 16px;line-height: 24px;font-weight: 400;font-family: var(--font-family-inter);text-transform: capitalize;padding: 2px;}
.upper-header-section .header-nav-container .tabs-area-container .nav-pills .nav-link.active{background-color: transparent;color: #16A34A;}
.upper-header-section .header-nav-container .tabs-area-container .nav-pills .nav-item{display: flex;column-gap: 6px;align-items: center;justify-content: space-between;padding: 0px 24px;}
.upper-header-section .header-nav-container .tabs-area-container .nav-pills .nav-item.current_active{background-color: #E9F9EF;border-radius: 8px;color: #16A34A;}
/* .upper-header-section .header-nav-container .tabs-area-container .nav-pills .nav-item img{width: 20px;height: auto;} */
.upper-header-section .header-nav-container .tabs-area-container .nav-pills .nav-item .svg-inline--fa.fa-right-left {transform: rotate(90deg) !important;}

.upper-header-section .header-nav-container .tabs-area-container .tab-content {background-color: #FFFFFF;border-radius: 12px;width: 100%;padding: 15px;}
.upper-header-section .header-nav-container .tabs-area-container .tab-content .img-holder{border-radius: 50%;/*margin-bottom: 20px;*/border: 0.1px solid #A7ACB3;}
.upper-header-section .header-nav-container .tabs-area-container .tab-content .img-holder img{border-radius: 50%;width: 30px;height: 30px;}
.upper-header-section .header-nav-container .tabs-area-container .tab-content label span{color: #A7ACB3;}
.upper-header-section .header-nav-container .tabs-area-container .tab-content label a{color: #1D4ED8; text-decoration: none;font-size: 16px;line-height: 24px;font-weight: 600;cursor: pointer;}


.partnership_section .img-wrapper .carousel-inner{}
.partnership_section .img-wrapper .carousel-inner .carousel-item .col-brand-item {max-width: 152px; height: auto;border-radius: 12px;border: 0.5px solid #F2F8FF; padding: 0 10px;width: 100%;height: auto; }
.partnership_section .img-wrapper .carousel-inner .carousel-item .col-brand-item  img{width: 100%;}
.partnership_section .img-wrapper .carousel-inner .carousel-item.active{display: flex;}


.partnership_section .header-content-container .header-super-content{width: 100%;max-width: 792px;padding: 60px 0px 20px;}
.partnership_section .header-content-container .header-super-content h3{color: #111827;margin-bottom: 0px; font-family: var(--font-family-red-display);font-size: 48px;font-weight: 700;line-height: 56px;padding-bottom: 30px; width: 100%;margin-bottom: 0px;}
.partnership_section .header-content-container .header-super-content .sub-header{color: #6D7280;font-weight: 400;font-size: 18px;line-height: 26px;font-family: var(--font-family-inter);padding-top: 0px;width: 100%;}
.partnership_section .left-img-holder{width: 100%; height: auto; max-width: 384px;border: 0.6px solid #D5E7FF;border-radius: 12px;}
.partnership_section .right-img-holder{width: 100%; height: auto; max-width: 206px;border-radius: 12px;}
.partnership_section .left-img-holder img, .right-img-holder img{width: 100%;}


.bg-wrapper{border-radius: 12px;margin-bottom: 80px;}
.bg-wrapper .content-container {padding-top: 70px;padding-left: 70px;column-gap: 200px;}
.bg-wrapper .content-container .left-content-container h4{color: rgba(17, 24, 39, 1);font-family: var(--font-family-red-display);font-weight: 700;font-size: 48px;line-height: 56px;padding-bottom: 20px;}
.bg-wrapper .content-container .left-content-container p{color: rgba(109, 114, 128, 1);font-weight: 400;font-size: 18px;line-height: 26px;font-family: var(--font-family-inter);margin-bottom: 50px;}
.bg-wrapper .content-container .left-content-container a{text-decoration: none;font-weight: 600;text-transform: capitalize;line-height: 26px;font-size: 18px;}
.bg-wrapper.bg-1c .content-container .left-content-container a:hover,.bg-wrapper.bg-1b .content-container .left-content-container a:hover,.bg-wrapper.bg-1a .content-container .left-content-container a:hover{color: #111827;}
.bg-wrapper.bg-1a .content-container .left-content-container a{color: rgba(249, 115, 22, 1);}
.bg-wrapper.bg-1b .content-container .left-content-container a{color: rgba(67, 56, 202, 1);}
.bg-wrapper.bg-1c .content-container .left-content-container a{color: rgba(29, 78, 216, 1);}

.bg-wrapper .content-container .left-content-container .mb-50{margin-bottom: 50px;}


.feature_section{background-image: linear-gradient(to right, rgba(29, 78, 216, 1), rgba(17, 24, 39, 1))}
.feature_section .grid-container {display: grid;grid-template-columns: 1fr 1fr;grid-template-rows: auto auto;gap: 20px;padding: 40px;max-width: 1200px;margin: auto;}
.feature_section .grid-container .card {background-color: #F2F8FF;border-radius: 12px;padding: 20px;box-shadow: 0 4px 12px rgba(0,0,0,0.2);display: flex;flex-direction: column;}
.feature_section .grid-container .card h2{color: #111827; font-size: 32px;font-family: var(--font-family-red-display);font-weight: 700;line-height: 40px;max-width: 341px;padding-bottom: 25px;}
.feature_section .grid-container .card p{font-weight: 400;font-family: var(--font-family-inter);font-size: 16px;line-height: 24px;color: #6D7280; margin-bottom: 30px;}
.feature_section .grid-container .card.track-payments  p, .feature_section .grid-container .card.track-payments h2, .feature_section .grid-container .card.payment-integrations  p, .feature_section .grid-container .card.payment-integrations h2{color: #FFF;}
.feature_section .grid-container .track-payments{ color: #fff; background-color: #1D4ED8;}
.feature_section .grid-container .payment-integrations{position: relative; background-color: #4338CA;}
.feature_section .grid-container .card .right-img-holde{width: 360px;height: auto;}
.feature_section .grid-container .card img{position: absolute;bottom: -0px;right: -0px;width: 360px;height: auto;}
.span-row-4 {grid-row: span 12; }
.feature_section .grid-container .app-only{position: absolute;right: 10px;}

/* Grid area definitions */
.grid-container {grid-template-areas:"track manage""review secure";}
.track-payments {grid-area: track;}
.manage-accounts {grid-area: manage;}
.payment-integrations {grid-area: secure;}

.feature_section .carousel-container {padding: 40px 20px;}
.feature_section .carousel-container .card {background-color: rgba(21, 29, 48, 1);backdrop-filter: blur(10px);border-radius: 12px;padding: 20px;margin: 10px;color: #BFDBFE;height: 250px;display: flex;flex-direction: column;justify-content: space-between;}
.feature_section .carousel-container .card-img {width: 50px;height: 50px;border-radius: 50%;object-fit: cover;}
.feature_section .carousel-container .card-body {flex: 1;}
.feature_section .carousel-container .navigation-buttons {display: flex;justify-content: center;gap: 10px; margin-top: 20px;}
.feature_section .carousel-container .navigation-buttons .btn.btn-primary{background-color: #F2F8FF;color: #1D4ED8;font-weight: 900; width: 48px;height: 48px;border-radius: 50%;border: 1px solid #F2F8FF;}
.feature_section .header-super-content h3{color: #FFFFFF;margin-bottom: 0px; font-family: var(--font-family-red-display);font-size: 48px;font-weight: 700;line-height: 56px;padding-bottom: 30px; width: 100%;margin-bottom: 0px;}
.feature_section .header-super-content .sub-header{color: #FFF;font-weight: 400;font-family: var(--font-family-inter);font-size: 18px;line-height: 26px;text-align: center;padding-top: 20px;width: 569px;display: block;margin: 0 auto;}

/*========================================================= Media Query  =================================================== */
@media only screen and (max-width: 1025px) {
/* .upper-header-section .header-nav-container .tabs-area-container .nav-pills .nav-item {padding: 0px 8px;} */
}

@media only screen and (max-width: 1140px) {
    
}

@media screen and (max-width: 1199px) {
  
}

@media only screen and (max-width: 991px) {
  .bg-wrapper .content-container {flex-direction: column;column-gap: normal;row-gap: 50px;}
  .upper-header-section .header-nav-container .tabs-area-container .nav-pills {height: auto;row-gap: 10px;}
}


@media (max-width: 890px) {
  
}

@media screen and (max-width: 767px) {
  .feature_section  .grid-container {grid-template-columns: 1fr;grid-template-areas: "track" "manage" "review" "secure";}
  .upper-header-section .header-nav-container {flex-direction: column;}
  .upper-header-section .header-nav-container .carousel {width: 100%;display: none;}

}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .upper-header-section .header-nav-container .tabs-area-container .nav-pills{    padding: 8px;}
   
}

@media only screen and (max-width: 479px) {
  
}


