* {box-sizing: border-box; padding: 0px; margin: 0px; }
html { height:100%; }
body { min-height: 100vh;display: -webkit-box;display: -ms-flexbox;display: flex; flex-direction:column;font-family: sans-serif; font-size: 16px; line-height: 24px; color: #000000;}


.form-control,
.form-control:focus {outline: none; box-shadow: none;}

input[type="text"].errors,
input[type="password"].errors,
input[type="email"].errors,
input[type="number"].errors,
select.errors,
textarea.errors {border: 1px solid #ea2727 !important;}

input[type="text"].errors::placeholder,
input[type="password"].errors::placeholder,
input[type="email"].errors::placeholder,
input[type="number"].errors::placeholder,
select.errors::placeholder,
textarea.errors::placeholder {color: #D50A0A !important;}


/* HOME PAGE */
