 <section class="find-advisor">
    <div class="auto-container">
        <div class="content-outer">
            <div class="row clearfix">
                <div class="col-lg-7 co-md-8 col-sm-6 col-xs-12 pull-right">
                    <div class="form-outer">

                        <div class="sec-title">
                            <h2>Contact Us</h2>
                        </div>
                        <div class="desc-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus quos necessitatibus quas aspernatur minus. Ut nemo explicabo, et corporis, quia tenetur delectus nesciunt iure voluptatibus in placeat consequuntur enim doloribus!
                        Ea doloremque repudiandae sequi nulla nisi placeat reiciendis, magnam vel ratione? Beatae praesentium expedita laborum optio unde sapiente tempora delectus amet natus exercitationem, incidunt cumque suscipit earum possimus, impedit autem!</div>

                        <div class="default-form">
                            <form method="post" action="#">

                                <div class="form-group">
                                    <input type="text" name="name" value="" placeholder="Your Name">
                                </div>

                                <div class="form-group">
                                    <select name="category">
                                    <option>Lorem ipsum, dolor sit amet</option>
                                    <option>Lorem ipsum, dolor sit amet</option>
                                    <option>Lorem ipsum, dolor sit amet</option>
                                </select>
                                </div>

                                <div class="form-group">
                                    <input type="email" name="email" value="" placeholder="Your Email">
                                    <span class="small"></span>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="phone" value="" placeholder="Your Phone Number">
                                </div>
                                <div class="form-group">
                                    <textarea name="appointment_message" id="appointment_message" cols="30" rows="10"></textarea>
                                </div>

                                <button type="submit" class="theme-btn color-btn">Message us <i class="fa-solid fa-circle-chevron-right"></i></button>

                            </form>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>