<section class="py-5 bg-dark">
    <div class="container">
        <div class="row d-flex align-items-center ">
            <div class="col-md-7">
                <div class="text-white">
                    <h2 class="text-white mb-1">Free online assessment</h2>
                    <p class="mb-0">Fusce venenatis lectus non est congue vitae malesuada neque lacinia. </p>
                </div>
            </div>
            <div class="col-md-5 d-flex justify-content-md-end mt-4 mt-lg-0">
                <a href="#!" class="btn theme-btn color-btn btn-lg">Get Free Access</a>
            </div>
        </div>
    </div>
</section>