<footer class="footer_container">
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="footer-logo">
                        <img src="images/logo.png" alt="image">
                        <div class="im-map">
                            <h5 class="title">We have over 15 years of experience</h5>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro vitae dicta ipsa. Deleniti assumenda debitis repudiandae quia necessitatibus illo ad! Perferendis laboriosam nisi quas delectus ipsam ut similique ipsum quisquam.</p>
                            <div class="map">
                                <a href="#!"><i class="fa-solid fa-location-dot"></i> Go to Google Maps</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="widget widget-our-services">
                        <div class="title-link v4">
                            <h5 class="widget-title">Extra links</h5>
                        </div>
                        <ul class="our_services">
                            <li class=""><a href="#"> Development Professionals</a></li>
                            <li class=""><a href="#"> Affiliate Marketing Program</a></li>
                            <li class=""><a href="#"> Exploration And Production</a></li>
                            <li class=""><a href="#"> Modern Slavery Act Statement</a></li>
                            <li class=""><a href="#"> Global Institute Of IT Management</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="widget widget-subscribe-us">
                        <div class="title-link v4">
                            <h5 class="widget-title">Subscribe Us</h5>
                        </div>
                        <p>Sign Up for our mailing list to get latest updates and news.</p>
                        <div class="widget subscribe-search">
                            <form id="subscribe-form" method="post" action="#" data-mailchimp="true">
                                <div id="subscribe-content">
                                    <input type="text"  tabindex="2" id="subscribe-email" name="subscribe-email" class="mailchimp-email" placeholder="Enter your email.">
                                    <button type="button" id="subscribe-button" class="submit-button"><i class="fa-solid fa-envelope"></i></button>
                                </div>
                                <div id="subscribe-msg"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>