<section class="services-style-one bg-light">
   <!-- <div class="container"> -->
    <div class="outer-box clearfix">
        <div class="services-column">
            <div class="content-outer">
                <div class="row clearfix">
                    <div class="service-block col-lg-6 col-md-6 col-sm-4 col-xs-12">
                        <div class="inner-box">
                            <h4>Lorem Lorem Lorem</h4>
                            <div class="text">Leverage agile frameworks to provide a robust synopsis for high level overviews. </div>
                            <a href="#!" class="btn-link default-btn">Read More</a>
                        </div>
                    </div>
                    <div class="service-block col-lg-6 col-md-6 col-sm-4 col-xs-12">
                        <div class="inner-box">
                            <h4>Lorem Lorem Lorem</h4>
                            <div class="text">Leverage agile frameworks to provide a robust synopsis for high level overviews. </div>
                            <a href="#!" class="btn-link default-btn">Read More</a>
                        </div>
                    </div>
                    <div class="service-block col-lg-6 col-md-6 col-sm-4 col-xs-12">
                        <div class="inner-box">
                            <h4>Lorem Lorem Lorem</h4>
                            <div class="text">Leverage agile frameworks to provide a robust synopsis for high level overviews. </div>
                            <a href="#!" class="btn-link default-btn">Read More</a>
                        </div>
                    </div>
                    <div class="service-block col-lg-6 col-md-6 col-sm-4 col-xs-12">
                        <div class="inner-box">
                            <h4>Lorem Lorem Lorem</h4>
                            <div class="text">Leverage agile frameworks to provide a robust synopsis for high level overviews. </div>
                            <a href="#!" class="btn-link default-btn">Read More</a>
                        </div>
                    </div>
                    <div class="service-block col-lg-6 col-md-6 col-sm-4 col-xs-12">
                        <div class="inner-box">
                            <h4>Lorem Lorem Lorem</h4>
                            <div class="text">Leverage agile frameworks to provide a robust synopsis for high level overviews. </div>
                            <a href="#!" class="btn-link default-btn">Read More</a>
                        </div>
                    </div>
                    <div class="service-block col-lg-6 col-md-6 col-sm-4 col-xs-12">
                        <div class="inner-box">
                            <h4>Lorem Lorem Lorem</h4>
                            <div class="text">Leverage agile frameworks to provide a robust synopsis for high level overviews. </div>
                            <a href="#!" class="btn-link default-btn">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-column clearfix">
            <div class="content-box">
                <div class="inner-box wow fadeInRight animated" data-wow-delay="0ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInRight;">
                    <div class="sec-title aligned-right">
                        <h2>Our Trainings</h2>
                    </div>
                    <div class="text">Tilde plaid lumbersexual Helvetica kitsch trust fund Carles pop-up kale chips keytar, keffiyeh post-ironic. Tote bag street art farm-to-table readymade, migas PBRB Marfa chambray organic. </div>
                    <div class="link-box"><a href="/training" class="theme-btn color-btn btn-style-two">Know More <i class="fa-solid fa-circle-chevron-right"></i></a></div>
                </div>
            </div>
        </div>
    </div>
   <!-- </div> -->
</section>