<section class="services-section">
    <%- include('../partials/minor-header'); %>
                            <p>Lorem ipsum dolor sit amet consectetur </p>
                            <a href="#" class="theme-btn color-btn">Lorem ipsum </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="flat-row no-padding-bottom py-5 py-lg-6">
    <div class="flat-choose-us">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="choose-us">
                        <div class="flat-icon-post">
                            <div class="flat-icon">
                                <div class="post">
                                    <div class="item row">
                                        <div class="col-md-4 col-sm-4 col-xs-12 iconbox">
                                            <div class="thumb">
                                                <img src="images/services/service-image-1.jpg" alt="image">
                                                <div class="overlay"></div>
                                            </div>
                                            <div class="icon-post">
                                                <div class="box-title">
                                                    <h4 class="title">Service 1</h4>
                                                    <div class="box-content">
                                                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi atque rerum ea consequuntur incidunt minima inventore tempore assumenda quasi nisi, quo consectetur officia reiciendis ducimus, hic odio repellat eveniet architecto?
                                                        Saepe quisquam amet culpa, accusamus doloremque eos animi nostrum! Molestiae est eum numquam ab nam velit iste blanditiis fuga molestias necessitatibus consequatur commodi nesciunt, culpa illo, illum in cupiditate. Iste?
                                                        Ipsam deleniti sint, facilis iusto rem autem velit repellendus placeat nostrum. Sunt, cumque magni. Possimus animi maiores odit modi repellat maxime, aspernatur nobis ab, reprehenderit in laboriosam, ratione numquam nulla?
                                                        Autem eligendi repudiandae cum? Neque iusto obcaecati reiciendis ex consectetur, fuga id. Hic ab excepturi, laboriosam vitae voluptas, consequatur eaque assumenda libero, minus quasi vel sit cupiditate tenetur blanditiis possimus?
                                                        Totam, hic ex facere fugit, dolor in rerum enim ipsum, saepe sunt facilis asperiores possimus at minus quisquam itaque nostrum. Aspernatur perspiciatis iusto tempore, perferendis blanditiis dicta sed fugiat ratione.Sed ut perspiciatis unde omnis iste natus error voluptatem accusantium doloremque laudantium, totam aperiam.</p>
                                                    </div>
                                                    <div>
                                                        <a href="/service?service_details" class="btn-link default-btn">Read More</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4 col-sm-4 col-xs-12 iconbox">
                                            <div class="thumb">
                                                <img src="images/services/service-image-2.jpg" alt="image">
                                                <div class="overlay"></div>
                                            </div>
                                            <div class="icon-post">
                                                <div class="box-title">
                                                    <h4 class="title">Service 2 </h4>
                                                    <div class="box-content">
                                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex possimus quae dolor, placeat repellat voluptatem ipsum magnam accusantium a laborum porro perspiciatis nihil hic consectetur unde! Doloribus inventore explicabo atque.
                                                        Qui asperiores sunt ipsum sequi! Repellendus aliquam nesciunt ipsa nulla quod, voluptatem nobis animi saepe quibusdam dolor velit doloribus temporibus mollitia corrupti ullam iusto laborum excepturi, rem obcaecati delectus explicabo?
                                                        Labore, expedita deserunt excepturi voluptate, minima voluptates autem saepe nihil ipsa cupiditate magni magnam deleniti eaque. Consectetur eos aliquam provident quis dolorem labore, sunt corrupti vero nulla, unde sit sed.
                                                        Sint rerum, consequuntur architecto in, excepturi quisquam minus libero at recusandae nemo distinctio quae nisi consectetur. Culpa, voluptate? Numquam provident, temporibus dolores ullam fugiat nobis! Deleniti optio tempora rerum inventore.
                                                        Inventore blanditiis quas aliquam iure asperiores. Ex hic nostrum numquam nisi iste architecto, perferendis laboriosam ullam quas quos voluptates eaque voluptas necessitatibus, facere ipsa repellendus at ducimus? Consequatur, molestias laudantium?Sed ut perspiciatis unde omnis iste natus error voluptatem accusantium doloremque laudantium, totam aperiam.</p>
                                                    </div>
                                                    <div>
                                                        <a href="/service?service_2" class="btn-link default-btn">Read More</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4 col-sm-4 col-xs-12 iconbox">
                                            <div class="thumb">
                                                <img src="images/services/service-image-3.jpg" alt="image">
                                                <div class="overlay"></div>
                                            </div>
                                            <div class="icon-post">
                                                <div class="box-title">
                                                    <h4 class="title">Service 3</h4>
                                                    <div class="box-content">
                                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus voluptates magnam a provident assumenda voluptas voluptatem iure cum deleniti facere tempora, labore non est nesciunt animi! Iusto exercitationem similique quos?
                                                        Ea tenetur eos qui, vitae accusamus eligendi. Sed deleniti debitis provident! Pariatur natus velit non vero quod nostrum illum deserunt harum minima! Eos fuga odit reprehenderit, voluptatum modi soluta tenetur?
                                                        Beatae saepe eaque amet. Veniam dolorem praesentium accusamus perspiciatis aperiam temporibus totam minima. Rem aliquam omnis laudantium corporis, commodi est animi earum officia delectus expedita dolor deserunt cupiditate nostrum similique!
                                                        Quam porro vitae, quibusdam dignissimos consequatur delectus tempore aliquid! Deserunt qui ex illo, non tempora minima vitae. Non molestias adipisci enim? Modi molestiae aperiam amet quos culpa perspiciatis libero ratione.
                                                        Praesentium eveniet enim nemo voluptatibus nesciunt unde ducimus, corporis a obcaecati voluptatem animi debitis maiores labore rem impedit optio pariatur? Blanditiis commodi non at doloremque eius cupiditate unde reiciendis fugit?Sed ut perspiciatis unde omnis iste natus error voluptatem accusantium doloremque laudantium, totam aperiam.</p>
                                                    </div>
                                                    <div>
                                                        <a href="/service?service_3" class="btn-link default-btn">Read More</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include('../partials/cta'); %>